/** the routing coin (<CoinAvatar>) */
.swap-coin {
  position: relative;
  animation: rotate-y-infinite 2s infinite;
  animation-delay: var(--delay, 0);
  transform-style: preserve-3d;
}
.swap-coin .line-group {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-style: inherit;
}
.swap-coin .front-face,
.swap-coin .back-face {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--ground-color-dark-solid);
  border-radius: 0;
  width: 100%;
  height: 100%;
}
.swap-coin .front-face {
  transform: translateZ(-3px);
}
.swap-coin .back-face {
  transform: translateZ(3px);
}
.swap-coin .line-group .line-out {
  top: 50%;
  position: absolute;
  left: 50%;
  width: 50%;
  transform-origin: left;
  transform-style: inherit;
}
.swap-coin .line-group .line-inner {
  position: absolute;
  left: 100%;
  background-color: var(--ground-color-dark-solid);
  transform: translateY(-50%) translateX(-64%) rotateY(90deg);
  width: 6px;
  height: 13px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-left: none;
  border-right: none;
}
.swap-coin .line-group .line-out:nth-child(1) {
  transform: rotate(calc(0 * 30deg));
}
.swap-coin .line-group .line-out:nth-child(2) {
  transform: rotate(calc(1 * 30deg));
}
.swap-coin .line-group .line-out:nth-child(3) {
  transform: rotate(calc(2 * 30deg));
}
.swap-coin .line-group .line-out:nth-child(4) {
  transform: rotate(calc(3 * 30deg));
}
.swap-coin .line-group .line-out:nth-child(5) {
  transform: rotate(calc(4 * 30deg));
}
.swap-coin .line-group .line-out:nth-child(6) {
  transform: rotate(calc(5 * 30deg));
}
.swap-coin .line-group .line-out:nth-child(7) {
  transform: rotate(calc(6 * 30deg));
}
.swap-coin .line-group .line-out:nth-child(8) {
  transform: rotate(calc(7 * 30deg));
}
.swap-coin .line-group .line-out:nth-child(9) {
  transform: rotate(calc(8 * 30deg));
}
.swap-coin .line-group .line-out:nth-child(10) {
  transform: rotate(calc(9 * 30deg));
}
.swap-coin .line-group .line-out:nth-child(11) {
  transform: rotate(calc(10 * 30deg));
}
.swap-coin .line-group .line-out:nth-child(12) {
  transform: rotate(calc(11 * 30deg));
}

@keyframes rotate-y-infinite {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
