@tailwind base;
html,
body,
#__next,
.app {
  height: 100%;
}
body {
  font-family: 'Source Code Pro', 'Source Code Pro Light', 'Space Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-feature-settings: 'ss04', 'tnum' 0;
  color: var(--primary);
  background-color: #25262B;
}
:root {
  font-size: 16px;
}
* {
  box-sizing: border-box;
  outline: none !important; /* without !important, the priority is not high enough */
}
/* Temp make headlessui not conflict with other z-index */
/* TODO: remove headlessui dependence */
#headlessui-portal-root {
  isolation: isolate;
}

.bg-aura {
  background-image:	radial-gradient(circle,#515A8C 1%, #2D2F3D 45%, #25262B 75%);
}

.co-primary {
  color: #E3E4FF;
}
.co-secondary {
  color: #80859C;
}
.co-grey {
  color: #666C80;
}
.co-violet {
  color: #A4AAF5;
}
.co-neon {
  color: #72D4B9;
}

.text-white {
  color: #E3E4FF;
}

.font-scplight {
  font-family: 'Source Code Pro Light';
}
.text-60 {
  font-size: 60px;
}
.text-48 {
  font-size: 48px;
}
.text-40 {
  font-size: 40px;
}
.text-36 {
  font-size: 36px;
}
.text-32 {
  font-size: 32px;
}
.text-28 {
  font-size: 28px;
}
.text-24 {
  font-size: 24px;
}
.text-20 {
  font-size: 20px;
}

.leading-40 {
  line-height: 40px;
}

.menutab {
  box-shadow: none;
  margin: 8px;
}
.menutabactive {
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 48%), 0 6px 16px 0 rgb(0 0 0 / 32%), 0 9px 28px 8px rgb(0 0 0 / 20%);
  margin: 8px;
}

.py-25 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.px-25 {
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}

.pl-10 {
  padding-left: 2.2rem;
}
.pl-14 {
  padding-left: 3.4rem;
}

.gap-12 {
  gap: 3rem;
}
.gap-24 {
  gap: 6rem;
}

.w-56a {
  width: 16rem;
}
.w-40 {
  width: 10rem;
}
.w-32 {
  width: 8rem;
}
.w-24 {
  width: 6rem;
}

.mg-t20 {
  margin-top: 20px;
}
.mg-t-6 {
  margin-top: -6px;
}
.mg-b10 {
  margin-bottom: 10px;
}

.h-22rem {
  height: 2.2rem;
}

.left0 {
  position: absolute;
  left: 0;
}

button {
  border: 1px solid transparent;
}

.bt-connect {
  width: 50%;
  left: 25%;
}
.bt-full {
  width: 100%;
  left: 0;
}

.frosted-glass-no-shadow {
  background: #2a2b32;
  box-shadow: none;
}

@media (min-width: 1000px) {
  ::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #38394A;
    border-radius: 0px;
    border: 2px solid #25262b;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #414358;
  }
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/SpaceGrotesk[wght].woff2') format('woff2');
  font-weight: 300;
}
@font-face {
  font-family: 'Space Grotesk';
  src: url('/SpaceGrotesk[wght].woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Space Grotesk';
  src: url('/SpaceGrotesk[wght].woff2') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'Space Grotesk';
  src: url('/SpaceGrotesk[wght].woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('/fonts/SourceCodePro-Regular.ttf.woff2') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'Source Code Pro Light';
  src: url('/fonts/SourceCodePro-Light.ttf.woff2') format('woff2');
  font-weight: 300;
}
